<%= render '/layouts/nav'%>

<div class="container-fluid main">
  <div class="row">
    <div id="input-wrapper">
      <%= form_tag({}, { :class => "neighborhoods-form", "data-hook" => "neighborhoods-form" }) do %>

        <div data-hook="form-alerts"></div>

        <select name="neighborhood-list" form="neighborhoods-form" class="neighborhoods-form" >
          <% @neighborhoods.each do |neighborhood| %>
          <option value='<%= neighborhood.name %>' ><%= neighborhood.name%></option>
          <% end%>
        </select>
        <button class="btn btn-default" id="js-btn-search" type="submit">Search</button>
      <% end%>

      <!-- <select name="neighborhood-list" form="district-Madrid-form" class="district-Madrid-form">
        <% @neighborhoods.each do |neighborhood| %>
        <option value='<%= neighborhood.id %>' ><%= neighborhood.name%></option>
        <% end%>
      </select>
      <button class="btn btn-default" id="js-btn-search" type="submit">Search</button> -->
    </div>


  </div>
  <div class="col-sm-6 padding_null" style="padding:0px">
    <div id="map">  </div>
  </div>
  <div class="padding_null col-sm-2" style="padding:0px">
    <div class="mygrid-wrapper-div" id="js-route-list">

    </div><!--/.well -->
  </div>
  <div class="col-xs-1 col-sm-1 sidebar-offcanvas" id="sidebar" role="navigation"   style="float:left">
    <div class="mygrid-wrapper-div" id="js-bar-list">
    </div>
  </div><!--/span-->





 </div><!--/row-->

 <%= render '/layouts/footer'%>

</div>
