<%= render '/layouts/nav'%>



<div class="container-fluid main">

  <div class="col-sm-6 js-create-route" style="padding:0px">
    <div class="div-create-route">
      <h1>Create route</h1>
      <%= form_tag({}, { :class => "route-form", "data-hook" => "neighborhood-form" }) do %>
        <%= label_tag(:name, "Route name:") %>
        <input type="text" name="name" id="js-route-name" style="width:300px">
        <button class="btn btn-default" id="btn-create-route" type="submit">Create Route</button>
      <% end %>
      <p class="hidden" id="js-name-error" style="color:tomato; font-size:24px"> </p>
    </div>
    <div>
      <h1 class="route-name" id-route=""></h1>
    </div>
    <div class="padding_null col-sm-2">
      <div class="mygrid-wrapper-div" id="js-bar-list">
        <ul class="js-ul-bars"> </ul>

      </div><!--/.well -->
    </div>

  </div>
  <div class="container-fluid">

    <div class="col-sm-6 js-create-bar" style="background-color:aliceblue">
      <div class="js-bar-form">

        <%= form_tag("/create", method: "post") do %>
          <h3>Add a bar</h3>
          <br>
          <%= label_tag(:beeper, "Search a bar:") %>
          <input type="text" name="search-bar" id="js-search-bar" style="width:300px">

          <br>
          <%= label_tag(:bar_, "Bar name:") %>
          <input type="text" name="bar-name" id="js-bar-name" style="width:300px">
          <br>
          <%= label_tag(:bar_description, "Bar description:") %>

            <textarea name="bar_description" rows="2" id="js-bar-description"
            cols="40"></textarea>
          <br>
          <%= label_tag(:district_bar, "Select district:") %>
          <input type="text" name="district" id="js-district" style="width:300px" disabled>

          <select name="neighborhood-list" form="neighborhoods-form" class="neighborhoods-form" >
            <% @neighborhoods.each do |neighborhood| %>
            <option value='<%= neighborhood.id %>' ><%= neighborhood.name%></option>
            <% end%>
          </select>
          <br>
          <br>

          <button class="btn btn-default" id="btn-add-bar" type="submit">Create Route</button>
        <% end %>
        <div>
          <h5>Select bar position:</h5>
          <div id="map">  </div>
        </div>
      </div>


    </div>
  </div>


</div>
